@import 'constants.sass'

.main-home
  display: grid
  grid-template-columns: 3fr 2fr
  min-height: 100vh
  max-width: 100vw

.hero-section
  display: flex
  flex-direction: column
  height: 90vh
  min-height: 480px
  padding: 0 0 0 20%
  color: $white
  background-image: url(./../images/family.svg), url(./../images/base-hero.png)
  background-size: 25%, 90% 100%
  background-position: right 75%, left center
  background-repeat: no-repeat, no-repeat

  &__info
    padding-top: 0 !important

  h1
    font-size: 35px
    margin-bottom: 20px

  li
    margin-bottom: 17px
    font-size: 15px

  .hero-icon
    width: 20px
    margin-right: 10px

  .hero-section__info
    display: flex
    flex-direction: column
    justify-content: center
    flex-grow: 1
    padding-top: 10%

  .hero-section__copyright
    padding-bottom: 10%
    font-size: 12px

    span
      color: $primary-light

  &__info__services--small
    display: none

.form-section
  grid-column-start: 2
  padding: 20% 15% 20%  5%

// primary data form

.primary-data-form
  padding: 25px 0

// checkbox

.checkbox-label
  display: block
  position: relative
  padding-left: 30px
  cursor: pointer
  font-size: 12px

input[type=checkbox]
  visibility: hidden

.checkbox-custom
  position: absolute
  top: 0
  left: 0
  height: 20px
  width: 20px
  background-color: $white
  border: 1px solid $gray-light
  border-radius: 5px
  &:after
    content: ""
    position: absolute
    display: none

.checkbox-label input:checked ~ .checkbox-custom
  background-color: $green
  border: 1px solid $green

.checkbox-label input:checked ~ .checkbox-custom:after
  display: block

.checkbox-label .checkbox-custom:after
  left: 6px
  bottom: 4px
  width: 6px
  height: 12px
  border: solid white
  border-width: 0 2px 2px 0
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

.back-icon
  margin-right: 10px
  cursor: pointer

.next-icon
  margin-left: 10px
  cursor: pointer

@media (max-width: 860px)
  .main-home
    display: flex
    flex-wrap: wrap

  .hero-section, .form-section
    width: 100%

  .form-section
    padding: 10%

@media (max-width: 505px)
  .main-home
    display: flex
    flex-wrap: wrap

  .hero-section
    background-image: url(./../images/family.svg), url(./../images/base-small.png)
    background-size: 45%, 100% 100%
    background-position: 110% 75%, left center

    &__copyright
      display: none

    &__info__title
      font-size: 24px

    &__info__services--large
      display: none

    &__info__services--small
      display: block
      width: 50%

  .form-section
    padding: 10%

    .btn
      width: 100%

    .btn-disabled
      width: 100%
